@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundd1{
    background-image: url('https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg');
    
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    
}